body {
  background-color: #001233;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-family: inter, Verdana, Geneva, Tahoma, sans-serif;
}

div.header-section {
  padding: 10px;
  margin-top: 100px;
  text-align: center;
}

h1 {
  color: #0353a4;
  font-size: 6rem;
  margin: 0;
  letter-spacing: 10px;
  text-shadow: 0 0 5px #000000;
}

h2 {
  color: #e9e4e4;
  margin-top: 0;
  font-weight: 400;
}

p.text {
  color: #e9e4e4;
  font-style: italic;
  font-size: 1.1rem;
  margin-right: 20px;
  font-weight: 300;
}

p.text span {
  margin-right: 20px;
}

div.password-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 10px;
}

.passwords {
  background-color: #001845;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 10px 20px;
}

.password-container {
  background-color: #002855;
  color: #ffffff;
  min-width: 400px;
  max-width: 600px;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
  overflow-y: hidden;
  text-wrap: nowrap;
  font-size: 1.8rem;
  font-weight: 500;
  margin: 0 10px;
}

.password-details {
  display: flex;
  justify-content: space-evenly;
  padding: 5px 10px;
  background-color: #001845;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.password-info {
  display: flex;
  gap: 20px;
  background-color: #002855;
  padding: 10px;
  border-radius: 5px;
}

.length, .difficulty {
  width: 200px;
  color: #ffffff;
  background-color: #013d83;
  padding: 10px;
  border-radius: 5px;
}

button {
  background-color: #002855;
  width: 400px;
  height: 60px;
  margin: 20px auto;
  padding: 10px 20px;
  border: 2px solid #023e7d;
  border-radius: 10px;
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #001233;
}
